.env

content/*

# provision/*
provision/heimdall/*
provision/ombi/*
provision/jackett/*
provision/qbittorrent/*
provision/bazarr/*
provision/prowlarr/*
provision/lidarr/*
provision/sonarr/*
provision/radarr/*
provision/plex/*
provision/flood/*

# workspace files are user-specific
*.sublime-workspace
**/*.code-workspace
**/.vscode
.idea/